<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body text-center">

            <h1>
                Bienvenido
            </h1>

            <h3>
                @ViewBag.Usuario
            </h3>

        </div>

    </div>

</div>